---
layout: default
---

<h1>Interactive News Design</h1>

<h1>Columbia J-School Innovate</h1>

<p>With this project, students at the Columbia University Graduate School of Journalism will be investigating how to build a student-driven center of innovation at our school. We hope to find a way to empower students to learn new technologies, build projects and start-ups and be better prepared to enter the changing world of journalism.<p>

<ul class="anchors">
    <li><a href="#project">Project</a></li>
    <li><a href="#assignments">Documents</a></li>
    <li><a href="#students">Students</a></li>
    <li><a href="#resources">Publications</a></li>
</ul>

<div class="hr"></div>

{{ content }}

<a name="assignments"></a><h2>Assignments</h2>


<a name="project"></a><h2>Project Overview</h2>

<p>Conversations about the future of journalism pop-up between classes and in the hallways of Columbia's Journalism School, however there isn't a space for students to work on projects toward this end. Robert Hackett and Michael Mott got to talking, and decided to try and set up a regular time and space to do that.<p>

<p>We want to start an innovation lab at the school that is based in students coming up with ways to help save and strengthen digital and online journalism. We began with weekly conversations toward this goal, and have been speaking with the school's faculty to try and make this happen.<p>

<p>We'd like to end the year with a few long-term and short-term goals: 
	<ul>
		<li>
			For the short-term we hope to hold two events, one that teaches students the basics of start-ups, and the other a weekendlong hackathon style competition, where journalism students create a new news innovation or start-up.
		</lili>
		<li>
			For the long-term, we'd like to help develop an infrastructure within the school that supports student innovation in the spaces of journalism, technology and entrepreneurship.
		<li>
	</ul>
<p>
 
</p>

<h2><a name="students"></a><h2>Students:</h2>

<p style="float: left; width: 35%; margin-right: 10%;"><strong><a href="http://www.mikemott.com/">Michael Mott</a></strong><br />
Student, Tow Fellow<br />
Columbia University Graduate School of Journalism<br />
mwm2153 at columbia.edu</p>

<p style="float: left; width: 35%;"><strong><a href="http://www.joshmkeller.com/">Robert Hackett</a></strong><br />
Student, Columbia Organization of Rising Entrepreneurs Member<br />
Columbia University Graduate School of Journalism<br />
rhh2125 at columbia.edu</p>